* {
    box-sizing: border-box;
}

#introContainer {
  position: relative;
  text-align: center;
  color: white;
  font-weight: 900;
}

.centeredText {
  position: absolute;
  top: 27%;
  width: 100%;
  text-align: center;
}

#header1 {
  font-weight: 900;
  padding: 30;
}

#aboutUsContainer {
    text-align: center;
    padding: 30px;
    margin: 20px;
}

.img-fluid {
    max-width: 100%; 
    height: auto;

}
#servicesContainer{
    position: relative;
    text-align: center;
    color: white;
    font-weight: 900;
}

.hiddenInfo{
    display: none;
}


#header4, #header5, #header6 {
    text-align: center;
    padding: 30px;
}

#whatWeDo {
    padding: 30px;
    align-items: center;
}
.col-md-4 {
    justify-items: center;
}

#portfolioInfo {
    padding: 30px;
}

#contactInfo{
    background-image: url("../images/backgrounds/c_image.jpg");
    background-size:cover;
    /* position: relative; */
    text-align: center;
    /* color: white; */
    padding: 30px;
}

/* .Contact-Us {
  background-image: url(backgrounds/c_image.jpg);
  background-size:cover;
  display: cover;
  padding: 10%;
} */
/* form #contact{
  background-color: rgba(0, 0, 0, 0);
} */

input[type=text] {
  background:transparent;
  color: white;
}

input[type=email] {
    background:transparent;
    color: white;
}

textarea[type=text] {
  background:transparent;
  color: white;
}

.submit{
  position:absolute;
  padding-left: 25%;
}



#socialIcons{
    padding-top: 30px;
    text-align: center;
    color: black;
}

#finPart {
    padding: 30;
    color: black;
    font-size: small;
}