* {
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

#introContainer {
  position: relative;
  text-align: center;
  color: white;
  font-weight: 900;
}

.centeredText {
  position: absolute;
  top: 30%;
  width: 100%;
  text-align: center;
}

#header1,
#header2 {
  font-weight: 600;
}

#logoImage {
  padding-bottom: 50px;
}

#mouseIcon {
  align-items: baseline;
  padding-top: 30px;
  margin-top: 120px;
}

#aboutUsContainer {
  text-align: center;
  padding: 30px;
  margin: 20px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

#servicesContainer {
  position: relative;
  text-align: center;
  color: white;
  font-weight: 900;
}

.hiddenInfo {
  display: none;
  text-align: center;
}

.imageTitles {
  text-align: center;
  font-weight: bold;
}

.headers {
  text-align: center !important;
  padding: 20px;
  font-weight: bolder !important;
}

#whatWeDo {
  padding: 30px;
  justify-items: center;
  align-items: center;
  text-align: center;
}

.col-md-4 {
  justify-items: center;
}

#portfolioInfo {
  padding: 20px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  margin-left: 12%;
  margin-right: 15%;
}

#portfolio1 {
  padding-bottom: 10px;
}

.col-md-3 img {
  max-width: 100%;
  max-height: 100%;
}

#prj-work4,
#prj-work3,
#prj-work2,
#prj-work1 {
  position: relative;
}

.project-hover {
  position: absolute;
  height: 100%;
  width: 100%;
  color: black;
  font-weight: bolder;
  font-size: x-large;
  background-color: white;
  opacity: 0.6;
  left: 0;
  top: 0;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

#projectName1,
#projectName2,
#projectName3,
#projectName4,
#projectName5,
#projectName6,
#projectName7,
#projectName8 {
  display: none;
}

#contactInfo {
  background-image: url("../images/backgrounds/c_image.jpg");
  background-size: cover;
  display: cover;
  text-align: center;
  color: white;
}

input[type="text"] {
  background: transparent;
  color: white;
}

input[type="email"] {
  background: transparent;
  color: white;
}

textarea[type="text"] {
  background: transparent;
  color: white;
  margin: 1px solid white;
}

form #contact{
  background-color: rgba(0, 0, 0, 0);
}

.form-control::-webkit-input-placeholder {
  color: white;
}

.form-group::-webkit-input-placeholder {
  color: white;
}

.submit {
  position: absolute; 
  padding-left: 25%;
}

#socialIcons {
  padding-top: 30px;
  text-align: center;
  color: black;
}

#finPart {
  padding-top: 30px;
  color: black;
  font-size: small;
}
